<button mat-icon-button
        [matMenuTriggerFor]="menu"
        class=""
        aria-label="Icon-button with menu icon">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="''">Home</button>
    <button mat-menu-item [routerLink]="'/all-traits'">Alle Merkmale</button>
    <button mat-menu-item [routerLink]="'/single-trait'">Ein Merkmal</button>
    <button mat-menu-item [routerLink]="'/toddler-traits'">Kleinkind Merkmale</button>
</mat-menu>
